html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0px;
}
.title{
  background-color: #E0E0E0;
  width: 100%;
  height: 100%;
}
.navbar{
  background: 	#C0C0C0;
  border-bottom:1px black solid;
}
.navbar ul{
  display: inline-flex;
  margin: 50px;
}
.navbar ul li{
  list-style: none;
  margin: 0 20px;
  color: #5B21AA;
  cursor: pointer;
}
.logo{
  width: 30px;
  margin-top: -7px;
  margin-right: 48px;
}
.navbar a{
text-decoration: none!important;
color: #5B21AA;
}
.navbar a:hover{
  color: #AD2A2A;
}
.password-btn{
  right: 120px;
  position: absolute;
  text-decoration: none;
  color: #AE662A;
}
#banner{
  width: 95%;
  height: 70%;
  top: 25%;
  left: 5%;
  background: #E0E0E0;
  position: absolute;
  color: #8B225D;
  overflow: wrap;
  box-sizing: border-box;
}
#banner h1{
  font-size: 43px;
}
#banner p{
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color:#5F2A7A;
  margin-left: 40px;
}
#banner article{
  float: left;
  width: 35%;
}
#banner img{
  float: right;
  width: 40%;
  margin-right: 5%;
}
.column {
	width: 30%;
	height: 700px;
	padding: 10px;
	margin: 1%;
	background-color: #cccccc;
	text-align: center;
}
.container{
  display: flex;
}
.contact-text{
  width: 50%;
  float: left;
}
.contact-text p{
  width: 650px;
  font-size: 30px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #228B22;
}
.contact-text a{
  display: flex;
  text-decoration: none;
  width: 650px;
  font-size: 20px;
  margin: 10px 0 30px 20px;
  line-height: 25px;
  color: #AE662A;
}
.contact-text a:hover{
  color: navy;
}
.contact-text img{
  width: 45px;
}
.contact-text span{
   display: flex;
   align-items:center;
}
.mcontainer{
  display: none;
}
@media only screen and (max-width: 540px){
  html, body {
  font-family: sans-serif;
  box-sizing: border-box;
}
  .title{
  background-color: #E0E0E0;
  width: 100%;
  height: 768px;
}
  .navbar{
    display: none;
}
  #banner{
  width: 100%;
  color: #8B225D;
  top: 0;
  left: 0;
  overflow: wrap;
  padding: 5%;
  box-sizing: border-box;
}
  #banner h1{
  font-size: 38px;
}
  #banner p{
  font-size: 21px;
  line-height: 25px;
  color:#5F2A7A;
  margin: 0;
}
  #banner article{
  float: none;
  width: 100%;
}
  #banner img{
  float: none;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}
  .column {
  display: none;
}
  .mcontainer{
  display: flex;
}
  .mcolumn{
  height: 300px;
  list-style: none;
  border-radius: 25px;
}
  .mcolumn img{
    width: 200px;
    float: left;
  }
  .mcolumn button{
    width: 200px;
    height: 50px;
    margin-top: 75px;
    margin-right: 30px;
    font-size: 32px;
    float: right;
    border-radius: 20px;
    border: 0.5px;
  }
  .mo1{
    width: 100%;
    height: 200px;
    background: #008000;
  }
  .mo1 button{
    background: navajowhite;
    color: #9F1AF2;
  }
  .mo2{
    width: 100%;
    height: 200px;
    background: lightskyblue;
  }
  .mo2 button{
    background: lightcoral;
    color: darkviolet;
  }
  .mo2 img{
    width: 160px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .mo3{
    width: 100%;
    height: 200px;
    background: #fed05d;
  }
  .mo3 button{
    background: #a3ffa3;
    color: #4d3200;
  }
  .mo3 img{
    width: 168px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .mo4{
    width: 100%;
    height: 200px;
    background: #3f3fca;
  }
  .mo4 button{
    background: #8c2b8c;
    color: white;
  }
  .mo4 img{
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }
}


